.certificates {
  &__inner {
    padding-top: 120px;
  }
  &__content {
    padding-top: 40px;
  }
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  &__img {
    filter: brightness(.9);
    transition: all .2s ease;
    z-index: 1;
    &:hover{
      z-index: 2;
      scale: 1.08;
      filter: brightness(1);
    }
    object-fit: cover;
    width: 350px;
  }
}
@media (max-width:1024px) {
  .certificates {
    &__inner {
      padding-top: 50px;
    }
  }
}