.sidepanel {
  position: fixed;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-90deg);
  left: -190px;
  &__inner{
    display: flex;
    align-items: center;
    gap: 20px;

  }
}


.divider{
  height: 2px;
  width: 100px;
  background-color:#000000;
}

@media (max-width:1600px) {
  .sidepanel {
    display: none;
  }
}